body{
background-size: cover;
background-position: center;
}
.copy_right_footer{
bottom: 0;
position: fixed;
width: 100%;
line-height: 2;
text-shadow: 2px lightgreen;
    text-align: center;
background-color: grey;
}
.heading{
    font-size: 20px;
    margin: 0px;
    width: 100%;
}
canvas{
    margin-top: 110px;
   border: 2px solid rgb(255, 255, 255);
   border-radius: 10px; 
   box-shadow: 5px 5px 5px blue;
}